<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="defaultLayout" >
	
<section layout:fragment="content">
	<div style="margin : 10px" class="panel panel-default">
		<div class="panel-heading">
	  		<h1 class="text-center">Why, Hello There</h1>
  		</div>
		<div class="media panel-body">
			<div class="media-left media-top">
				<img height=70% class="media-object" th:src="@{/images/zwei.png}"/>
			</div>
			<div class="media-body ">
				<h2 class="media-heading"> Welcome to the RPG Manager</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed laoreet volutpat gravida. Aliquam convallis faucibus lectus, eu fermentum massa viverra non. Aenean maximus, augue commodo placerat mollis, sapien neque vestibulum libero, id suscipit ex urna vel elit. Duis sit amet eleifend elit. Integer aliquam dui sed ipsum malesuada aliquet. Duis arcu massa, volutpat vitae ultricies sed, porttitor eu turpis. Sed ac nisi enim. Integer viverra justo eget purus pretium, tempor mattis quam varius. Aenean metus erat, pulvinar non faucibus commodo, sodales non diam. Mauris rutrum orci a est ultricies laoreet. Sed ut arcu eros. Vestibulum fermentum maximus ex, sed venenatis magna aliquam feugiat. Vivamus in tempus nunc. Donec consectetur tincidunt maximus.</p>
				<p>Proin et sapien et augue finibus hendrerit. Cras aliquam lacus in tristique porta. Etiam a viverra enim. Mauris iaculis, lacus ornare ullamcorper condimentum, leo nulla vulputate neque, ac rhoncus neque diam eu est. Curabitur fringilla ipsum a pulvinar pulvinar. Nulla nec metus mauris. Integer mattis, mi a dignissim luctus, nibh eros rutrum nisl, a accumsan nulla metus a nunc. Aenean vehicula mollis dolor, faucibus rhoncus lacus efficitur nec. Maecenas sit amet posuere lectus.</p>
			</div>
		</div>
	</div>
</section>