<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="defaultLayout" >
	
<section layout:fragment="content">
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Lista de classes</h1>
		</div>
		<div class="panel-body">
			<form class="form-inline" method="POST" 
			 th:object="${classe}" th:action="@{/classes}">
				<div class="form-group">
					<input type="hidden" name="id" th:field="*{id}">
					<input type="text" name="nome" class="form-control" th:field="*{nome}" placeholder="Nome">
					<button type="submit" name="submit" class="btn btn-primary">Enviar</button>
				</div>
			</form>
			<table class="table">
				<thead>
					<tr>
						<th>Nome</th>
						<th rowspan=2>Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="c: ${classes}" >
						<td th:text="${c.nome}">nome</td>
						<td><a class="glyphicon glyphicon-trash" th:href="@{/classes/excluir/}+${c.id}">Excluir</a></td>
						<td><a class="glyphicon glyphicon-pencil" th:href="@{/classes/alterar/}+${c.id}">Alterar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>